<h2>Miasta</h2>

    <div class="row margin-top-5">
        <div class="col-md-12">
         
           
            <ul class="list-group margin-top-5">
                <li ng-repeat="item in miasta" class="list-group-item">
                    Nazwa: {{item.Nazwa}}
                </li>
            </ul>

            

        </div>
        <pre> {{10+10}}</pre>
    </div>

<pre>{{11 + 11}} AAA</pre>