<h2>Miasta</h2>

    <div class="row margin-top-5">
        <div class="col-md-12">
         
           
            <ul class="list-group margin-top-5">
                <li ng-repeat="item in miasta" class="list-group-item">
                    <a href="#/MiastoUpdate/{{miasto.id}}"> {{item.Nazwa}} </a> 
                    <p>Konto: {{item.Konto}}</p>
                </li>
            </ul>

            

        </div>
        
    </div>

<pre>ng {{11+11}}</pre>