<h2>Miasta</h2>

    <div class="row margin-top-5">
        <div class="col-md-12">
            <!--
            
                <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Create New Task" ng-model="newTaskText" />
                <div class="btn btn-primary icon-camera input-group-addon" ng-click="postItem()">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </div>

            -->

            <ul class="list-group margin-top-5">
                <li ng-repeat="item in miasta" class="list-group-item">
                    Nazwa: {{item.Nazwa}}
                </li>
            </ul>

            

        </div>
        
    </div>

<pre>{{listaMiast | filter:query| orderBy:orderProp| json}} AAA</pre>