
<h3>Miasto</h3>

<p>
    Edycja danych miasta
</p>

<form ng-submit="zapiszMiasto()" class="row">

    <div class="col-md-3">
        <!--
        <div class="row">
            <div class="alert alert-success" ng-show="message == 'ended'"><h4>Due to inactivity, you were logged out automatically.</h4></div>
        </div>
        -->
        <input ng-model="Id" style="visibility:hidden" />
        <div class="row"><input class="form-control margin-top-5" type="text" ng-model="Nazwa" placeholder="Nazwa" /></div>
        <div class="row"><input class="form-control margin-top-5" type="text" ng-model="Konto" placeholder="Konto" /></div>
        <div class="row"><input class="btn btn-primary margin-top-5" type="submit" value="Zapisz" /></div>
    </div>

</form>

<div class="row">
    <div class="col-md-3">
        <div class="row alert alert-danger margin-top-5" ng-show="showMessage">{{message}}</div>
    </div>
</div>
